@model ResultSettingViewModel
@{
    ViewData["Title"] = "Site Ayarları";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid my-5">
    <form method="post" asp-action="UpdateSetting" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="ResultSettingDTO.Id" type="hidden"/>

            <!-- Desktop Image -->
            <input type="hidden" asp-for="ResultSettingDTO.WhiteLogo" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.ResultSettingDTO.WhiteLogo) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.ResultSettingDTO.WhiteLogo) ? "Path bulunamadı" : Model.ResultSettingDTO.WhiteLogo)
            </span>
            <input type="file" asp-for="ResultSettingDTO.WhiteLogoFile" class="form-control" />

            <!-- Desktop Image -->
            <input type="hidden" asp-for="ResultSettingDTO.BlackLogo" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.ResultSettingDTO.BlackLogo) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.ResultSettingDTO.BlackLogo) ? "Path bulunamadı" : Model.ResultSettingDTO.BlackLogo)
            </span>
            <input type="file" asp-for="ResultSettingDTO.BlackLogoFile" class="form-control" />

            <label asp-for="ResultSettingDTO.Telephone"></label>
            <input asp-for="ResultSettingDTO.Telephone" class="form-control" />
            <label asp-for="ResultSettingDTO.Email"></label>
            <input asp-for="ResultSettingDTO.Email" class="form-control" />
            <label asp-for="ResultSettingDTO.Address"></label>
            <input asp-for="ResultSettingDTO.Address" class="form-control" />
            <label asp-for="ResultSettingDTO.Facebook"></label>
            <input asp-for="ResultSettingDTO.Facebook" class="form-control" />
            <label asp-for="ResultSettingDTO.Twitter"></label>
            <input asp-for="ResultSettingDTO.Twitter" class="form-control" />
            <label asp-for="ResultSettingDTO.Instagram"></label>
            <input asp-for="ResultSettingDTO.Instagram" class="form-control" />
            <label asp-for="ResultSettingDTO.LinkedIn"></label>
            <input asp-for="ResultSettingDTO.LinkedIn" class="form-control" />
            <label asp-for="ResultSettingDTO.Youtube"></label>
            <input asp-for="ResultSettingDTO.Youtube" class="form-control" />
            <label asp-for="ResultSettingDTO.GooglePlus"></label>
            <input asp-for="ResultSettingDTO.GooglePlus" class="form-control" />
            <label asp-for="ResultSettingDTO.GoogleAnalytics"></label>
            <input asp-for="ResultSettingDTO.GoogleAnalytics" class="form-control" />
            <label asp-for="ResultSettingDTO.GoogleRecaptcha"></label>
            <input asp-for="ResultSettingDTO.GoogleRecaptcha" class="form-control" />
            <label asp-for="ResultSettingDTO.GoogleTagManager"></label>
            <input asp-for="ResultSettingDTO.GoogleTagManager" class="form-control" />
            <label asp-for="ResultSettingDTO.GoogleSiteVerification"></label>
            <input asp-for="ResultSettingDTO.GoogleSiteVerification" class="form-control" />
            <label asp-for="ResultSettingDTO.GoogleMaps"></label>
            <input asp-for="ResultSettingDTO.GoogleMaps" class="form-control" />
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.ResultSettingDTO.SettingTranslations.Count; i++)
            {
                var translation = Model.ResultSettingDTO.SettingTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group">
                        <input type="hidden" asp-for="ResultSettingDTO.SettingTranslations[i].Locale" />
                        <label asp-for="ResultSettingDTO.SettingTranslations[i].Title"></label>
                        <input asp-for="ResultSettingDTO.SettingTranslations[i].Title" class="form-control" />
                        <label asp-for="ResultSettingDTO.SettingTranslations[i].MetaDescription"></label>
                        <input asp-for="ResultSettingDTO.SettingTranslations[i].MetaDescription" class="form-control" />
                    </div>
                </div>
            }
        </div>
        <div class="form-check">
            <label asp-for="ResultSettingDTO.Status" class="form-check-label"></label>
            <input asp-for="ResultSettingDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>