@model UpdateProductViewModel
@{
    ViewData["Title"] = "Ürün Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-5">
    <form method="post" asp-action="UpdateProduct">
        @if (Model.GetBrands.Count > 0)
        {
            <div class="form-group">
                <label asp-for="UpdateProductDTO.BrandId"></label>
                <select class="form-select" asp-for="UpdateProductDTO.BrandId">
                    <option value=null selected>Marka Seçin</option>
                    @foreach (var item in Model.GetBrands)
                    {
                        <option value="@item.Id">
                            @item.Name
                        </option>
                    }
                </select>
            </div>

        }
        @if (Model.GetCategories.Count > 0)
        {
            <div class="form-group">
                <label asp-for="UpdateProductDTO.CategoryId"></label>
                <select class="form-select" asp-for="UpdateProductDTO.CategoryId">
                    <option value=null selected>Bir kategori seçin</option>
                    @foreach (var item in Model.GetCategories)
                    {
                        <option value="@item.Id">
                            @item.CategoryTranslations.FirstOrDefault(x => x.Locale == "tr")?.Title
                            </option>
                    }
                </select>
            </div>
        }       
        <input type="hidden" asp-for="UpdateProductDTO.Id" />
        <div class="form-group">
            <label asp-for="UpdateProductDTO.Code"></label>
            <input asp-for="UpdateProductDTO.Code" class="form-control" />
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.UpdateProductDTO.ProductTranslations.Count; i++)
            {
                var translation = Model.UpdateProductDTO.ProductTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group">
                        <input type="hidden" asp-for="UpdateProductDTO.ProductTranslations[i].Locale" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Name"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Name" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Url"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Url" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Title"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Title" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Brief"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Brief" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Title"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Title" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].PageTitle"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].PageTitle" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].MetaDescription"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].MetaDescription" class="form-control" />
                        <label asp-for="UpdateProductDTO.ProductTranslations[i].Content"></label>
                        <input asp-for="UpdateProductDTO.ProductTranslations[i].Content" class="form-control" />
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <label asp-for="UpdateProductDTO.Image1"></label>
            <input asp-for="UpdateProductDTO.Image1" class="form-control" />
            <label asp-for="UpdateProductDTO.Image2"></label>
            <input asp-for="UpdateProductDTO.Image2" class="form-control" />
            <label asp-for="UpdateProductDTO.Image3"></label>
            <input asp-for="UpdateProductDTO.Image3" class="form-control" />
            <label asp-for="UpdateProductDTO.Image4"></label>
            <input asp-for="UpdateProductDTO.Image4" class="form-control" />
            <label asp-for="UpdateProductDTO.Image5"></label>
            <input asp-for="UpdateProductDTO.Image5" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UpdateProductDTO.Order"></label>
            <input asp-for="UpdateProductDTO.Order" class="form-control" />
        </div>
        <div class="form-check">
            <label asp-for="UpdateProductDTO.Status" class="form-check-label"></label>
            <input asp-for="UpdateProductDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>
