@model UpdateBannerViewModel
@{
    ViewData["Title"] = "Banner Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-5">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="UpdateBannerDTO.Id" />
        <div class="form-group row">
            <!-- Desktop Image -->
            <input type="hidden" asp-for="UpdateBannerDTO.DesktopImage" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.UpdateBannerDTO.DesktopImage) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.UpdateBannerDTO.DesktopImage) ? "Path bulunamadı" : Model.UpdateBannerDTO.DesktopImageFile)
            </span>
            <input type="file" asp-for="UpdateBannerDTO.DesktopImageFile" class="form-control" />

            <!-- Tablete Image -->
            <input type="hidden" asp-for="UpdateBannerDTO.TableteImage" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.UpdateBannerDTO.TableteImage) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.UpdateBannerDTO.TableteImage) ? "Path bulunamadı" : Model.UpdateBannerDTO.TableteImageFile)
            </span>
            <input type="file" asp-for="UpdateBannerDTO.TableteImageFile" class="form-control" />

            <!-- Mobile Image -->
            <input type="hidden" asp-for="UpdateBannerDTO.MobileImage" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.UpdateBannerDTO.MobileImage) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.UpdateBannerDTO.MobileImage) ? "Path bulunamadı" : Model.UpdateBannerDTO.MobileImageFile)
            </span>
            <input type="file" asp-for="UpdateBannerDTO.MobileImageFile" class="form-control" />

            <!-- Desktop Video -->
            <input type="hidden" asp-for="UpdateBannerDTO.DesktopVideo" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.UpdateBannerDTO.DesktopVideo) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.UpdateBannerDTO.DesktopVideo) ? "Path bulunamadı" : Model.UpdateBannerDTO.DesktopVideoFile)
            </span>
            <input type="file" asp-for="UpdateBannerDTO.DesktopVideoFile" class="form-control" />

            <!-- Mobile Video -->
            <input type="hidden" asp-for="UpdateBannerDTO.MobileVideo" class="form-control" />
            <span class="@(string.IsNullOrEmpty(Model.UpdateBannerDTO.MobileVideo) ? "text-danger" : "text-success")">
                @(string.IsNullOrEmpty(Model.UpdateBannerDTO.MobileVideo) ? "Path bulunamadı" : Model.UpdateBannerDTO.MobileVideoFile)
            </span>
            <input type="file" asp-for="UpdateBannerDTO.MobileVideoFile" class="form-control" />
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.UpdateBannerDTO.BannerTranslations.Count; i++)
            {
                var translation = Model.UpdateBannerDTO.BannerTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group">
                        <input type="hidden" asp-for="UpdateBannerDTO.BannerTranslations[i].Locale" />
                        <label asp-for="UpdateBannerDTO.BannerTranslations[i].Url"></label>
                        <input asp-for="UpdateBannerDTO.BannerTranslations[i].Url" class="form-control" />
                        <label asp-for="UpdateBannerDTO.BannerTranslations[i].Title"></label>
                        <input asp-for="UpdateBannerDTO.BannerTranslations[i].Title" class="form-control" />
                        <label asp-for="UpdateBannerDTO.BannerTranslations[i].Content"></label>
                        <input asp-for="UpdateBannerDTO.BannerTranslations[i].Content" class="form-control" />
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <label asp-for="UpdateBannerDTO.Order"></label>
            <input asp-for="UpdateBannerDTO.Order" class="form-control" />
        </div>
        <div class="form-check">
            <label asp-for="UpdateBannerDTO.Status" class="form-check-label"></label>
            <input asp-for="UpdateBannerDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>
<script>
    function previewImage(input, previewId) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById(previewId).src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
