@model CreateHomeViewModel
@{
    ViewData["Title"] = "Yeni Anasayfa İçerik Ekleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-5">
    <form method="post" class="form-group" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="CreateHomeDTO.ContentType"></label>
            <input asp-for="CreateHomeDTO.ContentType" class="form-control" />
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>

        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.CreateHomeDTO.HomeTranslations.Count; i++)
            {
                var translation = Model.CreateHomeDTO.HomeTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group row">
                        <input type="hidden" asp-for="CreateHomeDTO.HomeTranslations[i].Locale" />
                        <label asp-for="CreateHomeDTO.HomeTranslations[i].Url"></label>
                        <input asp-for="CreateHomeDTO.HomeTranslations[i].Url" class="form-control" />
                        <label asp-for="CreateHomeDTO.HomeTranslations[i].Title"></label>
                        <input asp-for="CreateHomeDTO.HomeTranslations[i].Title" class="form-control" />
                        <label asp-for="CreateHomeDTO.HomeTranslations[i].Content"></label>
                        <textarea asp-for="CreateHomeDTO.HomeTranslations[i].Content" id="editor-@translation.Locale" class="form-control"></textarea>
                        <label asp-for="CreateHomeDTO.HomeTranslations[i].AdditionalData"></label>
                        <input asp-for="CreateHomeDTO.HomeTranslations[i].AdditionalData" class="form-control" />
                    </div>
                </div>
            }
        </div>

        <div class="form-group row">
            <label asp-for="CreateHomeDTO.Image1">Image1</label>
            <input type="file" asp-for="CreateHomeDTO.Image1File" class="form-control" />

            <label asp-for="CreateHomeDTO.Image2">Image2</label>
            <input type="file" asp-for="CreateHomeDTO.Image2File" class="form-control" />

            <label asp-for="CreateHomeDTO.Image3">Image3</label>
            <input type="file" asp-for="CreateHomeDTO.Image3File" class="form-control" />

            <label asp-for="CreateHomeDTO.Image4">Image4</label>
            <input type="file" asp-for="CreateHomeDTO.Image5File" class="form-control" />

            <label asp-for="CreateHomeDTO.Image5">Image5</label>
            <input type="file" asp-for="CreateHomeDTO.Image5File" class="form-control" />

            <label asp-for="CreateHomeDTO.Video">Video</label>
            <input type="file" asp-for="CreateHomeDTO.VideoFile" class="form-control" />

            <label asp-for="CreateHomeDTO.Order"></label>
            <input asp-for="CreateHomeDTO.Order" class="form-control" />

            <label asp-for="CreateHomeDTO.Status" class="form-check-label"></label>
            <input asp-for="CreateHomeDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>
@section Scripts {
    <script src="~/plugins/ckeditor/ckeditor.js"></script>
    @for (int i = 0; i < Model.CreateHomeDTO.HomeTranslations.Count; i++)
    {
        var translation = Model.CreateHomeDTO.HomeTranslations[i];
        <script>
            CKEDITOR.replace("editor-@translation.Locale");
        </script>
    }
}