@model UpdateHomeViewModel
@{
    ViewData["Title"] = "Module Güncelleme Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-5">
    <form method="post" asp-action="UpdateHome">
        <div class="form-group">
            <input type="hidden" asp-for="UpdateHomeDTO.Id" />
            <label asp-for="UpdateHomeDTO.ContentType"></label>
            <input asp-for="UpdateHomeDTO.ContentType" class="form-control" />
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.UpdateHomeDTO.HomeTranslations.Count; i++)
            {
                var translation = Model.UpdateHomeDTO.HomeTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group">
                        <input type="hidden" asp-for="UpdateHomeDTO.HomeTranslations[i].Locale" />
                        <label asp-for="UpdateHomeDTO.HomeTranslations[i].Url"></label>
                        <input asp-for="UpdateHomeDTO.HomeTranslations[i].Url" class="form-control" />
                        <label asp-for="UpdateHomeDTO.HomeTranslations[i].Title"></label>
                        <input asp-for="UpdateHomeDTO.HomeTranslations[i].Title" class="form-control" />
                        <label asp-for="UpdateHomeDTO.HomeTranslations[i].Content"></label>
                        <textarea asp-for="UpdateHomeDTO.HomeTranslations[i].Content" class="form-control"></textarea>
                        <label asp-for="UpdateHomeDTO.HomeTranslations[i].AdditionalData"></label>
                        <input asp-for="UpdateHomeDTO.HomeTranslations[i].AdditionalData" class="form-control" />
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <label asp-for="UpdateHomeDTO.Order"></label>
            <input asp-for="UpdateHomeDTO.Order" class="form-control" />
        </div>
        <div class="form-check">
            <label asp-for="UpdateHomeDTO.Status" class="form-check-label"></label>
            <input asp-for="UpdateHomeDTO.Status" class="form-check-input" type="checkbox" />
        </div>
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>