@model List<ResultMenuDTO>
@{
    ViewData["Title"] = "Menuler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Sıra</th>
        <th>Vitrin</th>
        <th>Footer</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.MenuTranslations.FirstOrDefault(t => t.Locale == "tr")?.Title</td>
            <td>@item.Vitrin</td>
            <td>@item.Footer</td>
            <td>@item.Order</td>
            <td>
                <a asp-action="DeleteMenu" asp-controller="Menu" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a>
                <a asp-action="UpdateMenu" asp-controller="Menu" asp-route-id="@item.Id" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="CreateMenu" asp-controller="Menu" asp-area="Admin" class="btn btn-outline-primary">Yeni Menu Ekle</a>