@model UpdateMenuViewModel
@{
    ViewData["Title"] = "Menu Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-5">
    <form method="post" asp-action="UpdateMenu">
        @if (Model.ResultMenus.Count > 0)
        {
            <div class="form-group">
                <label asp-for="UpdateMenuDTO.ParentId"></label>
                <select class="form-select" asp-for="UpdateMenuDTO.ParentId">
                    <option value=null selected>Menu Seç</option>
                    @foreach (var item in Model.ResultMenus)
                    {
                        <option value="@item.Id" selected="@(Model.UpdateMenuDTO.ParentId == item.Id ? "selected" : null)">
                            @item.MenuTranslations.FirstOrDefault(l => l.Locale == "tr")?.Title
                        </option>
                    }
                </select>
            </div>
        }
        <input type="hidden" asp-for="UpdateMenuDTO.Id" />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (int i = 0; i < Model.GetLangDTOs.Count; i++)
            {
                var lang = Model.GetLangDTOs[i];
                <li class="nav-item" role="presentation">
                    <button class="nav-link @(lang.LangCode == "tr" ? "active" : "")" id="@lang.LangCode-tab" data-bs-toggle="tab" data-bs-target="#@lang.LangCode" type="button" role="tab" aria-controls="@lang.LangCode" aria-selected="@(lang.LangCode == "tr" ? "true" : "false")">
                        <img width="15" height="15" src="~/icons/@(lang.LangCode).svg" />@lang.LangCode
                    </button>
                </li>
            }
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            @for (int i = 0; i < Model.UpdateMenuDTO.MenuTranslations.Count; i++)
            {
                var translation = Model.UpdateMenuDTO.MenuTranslations[i];
                <div class="tab-pane fade show @(translation.Locale == "tr" ? "active" : "")" id="@translation.Locale" role="tabpanel" aria-labelledby="@translation.Locale-tab">
                    <div class="form-group">
                        <input type="hidden" asp-for="UpdateMenuDTO.MenuTranslations[i].Locale" />
                        <label asp-for="UpdateMenuDTO.MenuTranslations[i].Title"></label>
                        <input asp-for="UpdateMenuDTO.MenuTranslations[i].Title" class="form-control" />
                        <label asp-for="UpdateMenuDTO.MenuTranslations[i].Url"></label>
                        <input asp-for="UpdateMenuDTO.MenuTranslations[i].Url" class="form-control" />
                    </div>
                </div>
            }
        </div>
        <div class="form-check">
            <label asp-for="UpdateMenuDTO.Vitrin" class="form-check-label"></label>
            <input asp-for="UpdateMenuDTO.Vitrin" class="form-check-input" type="checkbox" />
        </div>
        <div class="form-check">
            <label asp-for="UpdateMenuDTO.Footer" class="form-check-label"></label>
            <input asp-for="UpdateMenuDTO.Footer" class="form-check-input" type="checkbox" />
        </div>
        <div class="form-group">
            <label asp-for="UpdateMenuDTO.Order"></label>
            <input asp-for="UpdateMenuDTO.Order" class="form-control" />
        </div>
        <div class="form-check">
            <label asp-for="UpdateMenuDTO.Status" class="form-check-label"></label>
            <input asp-for="UpdateMenuDTO.Status" class="form-check-input" type="checkbox" />
        </div>
            <input type="submit" class="btn btn-primary" value="Kaydet" />
    </form>
</div>
